* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}



form {

    background-image: url("../images/background.jpg");
    width: 800px;
    margin: 100px auto;
    text-transform: uppercase;
    max-width: 98%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 55px 30px;


}

form h2 {
    letter-spacing: 25px;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    margin-bottom: 32px;
    display: inline-block;



}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;

}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .item input {

    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid white;

}

form .full {
    margin-bottom: 24px;
}

form .action input {
    background: white;
    color: black;
    cursor: pointer;
    font-size: 13px;
    height: 44px;
    letter-spacing: 3px;
    padding: 0 20px 0 22px;
    border-radius: 4px;
    border: 1px solid black;

}

form .item input:focus {
    background: rgb(95, 154, 163);
}

@media (max-width: 480px) {
    form .half {
        flex-direction: column;
    }

    form .half .item,
    form .action input {
        width: 100%;
    }
}